{% extends "base.html" %}
{% block content %}

<div class="text-center mb-5">
  <h3 class="fw-bold">Pricing</h3>
  <p class="text-muted">Choose the plan that fits your needs</p>
</div>

<div class="row justify-content-center g-4">

  <!-- FREE -->
  <div class="col-md-3">
    <div class="card shadow-sm rounded-4 text-center">
      <div class="card-body">
        <h5>Free</h5>
        <h2>$0</h2>
        <ul class="list-unstyled">
          <li>5 PDFs/day</li>
          <li>No sharing</li>
        </ul>
        <button class="btn btn-outline-secondary w-100" disabled>
          Current Plan
        </button>
      </div>
    </div>
  </div>

  <!-- PRO -->
  <div class="col-md-3">
    <div class="card shadow border-primary rounded-4 text-center">
      <div class="card-body">
        <h5>Pro</h5>
        <h2>$9 / mo</h2>
        <ul class="list-unstyled">
          <li>Unlimited PDFs</li>
          <li>7-day sharing</li>
        </ul>
        <a href="/pricing/checkout/pro/" class="btn btn-p w-100">
          Upgrade
        </a>
      </div>
    </div>
  </div>

  <!-- BUSINESS -->
  <div class="col-md-3">
    <div class="card shadow border-dark rounded-4 text-center">
      <div class="card-body">
        <h5>Business</h5>
        <h2>$29 / mo</h2>
        <ul class="list-unstyled">
          <li>Unlimited PDFs</li>
          <li>Unlimited sharing</li>
        </ul>
        <a href="/pricing/checkout/business/" class="btn btn-dark w-100">
          Upgrade
        </a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
